/* feedback, historyQA, question */
.body{
  background-color: #F0F0F0;
}
.masthead {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.btn-home{
  position: relative;
  margin-top: 2%;
  left: 2.5%;
}

.card {
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
}
.c
ard-body{
  margin-bottom:3 auto
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/backgroud.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.form{
      width: 80%;
      margin: 0 auto;
}

