/* feedback, historyQA, question */

.btn-home {
  margin-top: 2%;
  left: 2.5%;
  float: left;
}

.card {
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
}
.chart {
  width: 70%;
  justify-content: center;
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.c ard-body {
  margin-bottom: 3 auto;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0.7) 75%,
          #000 100%
      ),
      url("../assets/img/backgroud.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.form {
  width: 80%;
  margin: 0 auto;
}

.table {
  display: flex;
  padding: 1rem;
}

.table-text {
  display: flex;
  justify-content: center;
  color: #dee2e6;
  border: 0.3rem solid #000000 !important;
  background-color: rgb(80, 80, 80);
  font-size: 2em;
  padding: 1rem;
}
