<html>
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./static/css/common.css">
        <title>HistoryQA</title>
    </head>
    <style>
        
    .star{color:#ccc;} /*原始样式*/
    .cs{color:#f00;}/*点击后出现样式*/
    
    </style>
    <body class="masthead">
        <a class="btn btn-home btn-primary" href="/" role="button">Home</a>
        <div class="card" >
            <h2 class="card-header" style="text-align: center">歷史問答</h2>
            <div class="card-body" id="QAtable" class="card">
            <div id="QAitems">
                {% for row in QA %}
                <div>
                    <div id="itemName">
                        <span id="Ques">Question: {{row[2]}}</span><br>
                        <span id="Ans">Answer: {{row[3]}}</span><br>
                        <!-- <a class="star" onclick="changeColor(this)" > &#9829;</a> -->
                        <a href="/removeFromQA?qid={{row[0]}}">刪除</a>
                        <!-- 跳轉到反饋界面 -->
                        <a href="/feedbackForm">反饋</a>
                    </div>
                    <hr id="seperator">
                </div>
                {% endfor %}
            </div>
            </div>
        </div>

    <script>
        function changeColor(id){
            if(id.className=="cs"){
                id.className="star"
                }
            else {
                id.className="cs"
            }
        }
    </script>
        
    </body>
</html>
