<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/question.css">
    <title>Question</title>
</head>

<body>
    <footer class="card mt-5 p-3">
        <h1 class="mt-4 text-center">問答</h1>
        <form class="form" method="POST" action="anser">

            <div>
                <div>
                    <span>文章: </span>
                </div>
                <textarea class="input-group mb-3 form-control" name="content" required="required" cols="40" rows="20"
                    placeholder="輸入文章，限2000字以內"></textarea>
            </div>
            <div class="">
                <div>
                    <span>問題: </span>
                </div>
                <input class="input-group mb-3 form-control" type="text" name="question" required="required"
                    placeholder="輸入問題">
            </div>
            <input class="btn btn-dark" type="submit" name="submit" value="查詢">
        </form>
        </div>


</body>

</html>